<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
  <!-- Custom meta data for this template-->
  <meta name="description" content="meo home page">
  <meta name="author" content="mfano">
  <!-- Custom title for this page-->
  <title>profile</title>
  <!-- Custom styles for this page-->
</th:block>

<body>

  <main class="container-fluid">

    <th:block th:insert="~{partials/_nav}" />

    <div class="row">

      <th:block th:insert="~{partials/_sidebar}" />

      <div class="col-lg-10 p-4">
        <h2>Profile</h2>
        <div class="card p-3">
          <p><strong>Id:</strong> <span th:text="${id}"></span></p>
          <p><strong>Firstname:</strong> <span th:text="${firstname}"></span></p>
          <p><strong>Lastname:</strong> <span th:text="${lastname}"></span></p>
          <p><strong>Username:</strong> <span th:text="${username}"></span></p>
          <p><strong>Email:</strong> <span th:text="${email}"></span></p>
        </div>
        <a href="/logout" class="btn btn-outline-danger mt-2">Logout</a>
      </div>
    </div>
  </main>

  <th:block th:insert="~{partials/_footer}" />

</body>

</html>