<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
    <!-- Custom meta data for this template-->
    <meta name="description" content="meo home page">
    <meta name="author" content="mfano">
    <!-- Custom title for this page-->
    <title>hoi</title>
    <!-- Custom styles for this page-->
</th:block>

<body>

    <th:block th:insert="~{partials/_nav}" />

    <main class="container-fluid">
        <div class="row">

            <th:block th:insert="~{partials/_sidebar}" />
            <h2>HOI Dashboard</h2>

            <div class="col-lg-10 p-4">

            </div>
        </div>
    </main>

    <th:block th:insert="~{partials/_footer}" />

</body>

</html>