<aside class="col-lg-2 d-none d-lg-block bg-light sidebar p-3">
    
    <ul class="nav flex-column">
        <li sec:authorize="hasRole('ADMIN')" class="nav-item"><a class="nav-link" th:href="@{/admin/dashboard}">Admin</a></li>
        <li sec:authorize="hasRole('DIRECTOR')" class="nav-item"><a class="nav-link" th:href="@{/director/dashboard}">Director</a></li>
        <li sec:authorize="hasRole('HOI')" class="nav-item"><a class="nav-link" th:href="@{/hoi/dashboard}">HOI</a></li>
        <li sec:authorize="hasRole('USER')" class="nav-item"><a class="nav-link" th:href="@{/user/dashboard}">User</a></li>
        <li sec:authorize="isAuthenticated" class="nav-item"><a class="nav-link" th:href="@{/profile}">Profile</a></li>
    </ul>
</aside>