<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{partials/_header :: common_header(~{::title/text()},~{::link},~{::meta})}">
  <!-- Custom meta data for this template-->
  <meta name="description" content="meo home page">
  <meta name="author" content="mfano">
  <!-- Custom title for this page-->
  <title>reset</title>
  <!-- Custom styles for this page-->
</th:block>

<body>
  <main class="container-fluid">

    <th:block th:insert="~{partials/_nav}" />

    <div class="row">

      <th:block th:insert="~{partials/_sidebar}" />

      <div class="col-lg-10 p-4">

        <h3>Reset Password</h3>
        <form th:action="@{/reset-password}" method="post" class="row g-2">
          <input type="hidden" name="token" th:value="${token}">
          <div class="col-md-6">
            <input type="password" name="password" class="form-control" placeholder="New password" required>
          </div>
          <div class="col-md-2">
            <button class="btn btn-primary w-100">Change password</button>
          </div>
        </form>

      </div>
    </div>
  </main>

  <th:block th:insert="~{partials/_footer}" />

</body>

</html>